<% provide(:title, 'About') %>
<!DOCTYPE html>
<h1>About Us</h1>
	<h2>
		<p>
		  This is the #{:title} page for Neil's Dev Site
		</p>
	</h2>
	<div id="content">
	<div id="header">
	  
	  <h2>We&rsquo;re riding Ruby on Rails!</h2><p></p>
	  Current Version = <b>0.7</b>
	</div>
	<p></p>
	<div id="about">
	  <h3><a href="rails/info/properties" onclick="about(); return false">My application&rsquo;s environment</a></h3>
	  <div id="about-content" style="display: none"></div>
	</div>
		<p></p>
		  Hi. I'm slowly making my way through the Ruby on Rails tutorial by Michael Hartl at the moment so you won't find anything too interesting here right now.  Wait a little bit though and you should find some of my old projects brought back to life!
	  <p>
	    If all goes well here's what I hope to bring you in the new year.
	  </p>
	  <p>
	    <ol>
	      <li>iTrack. A bug and issue tracking app.</li>
	    </ol>
	  </p>

	<div id="about">
	  <h3>
	    Log
	  </h3>
	  
	  <h2>
	    Progress so far .....
	  </h2>

	  <ul>
	  	<li>
	  		19/02/14: Show microposts on home page
	  	</li>
	  	<li>
	  		18/02/14: You can now create microposts and view them
	  	</li>
	  	<li>
	  		12/02/14: Set up some Microposts and associated them with Users
	  	</li>	
	  	<li>
	  		22/01/2014: Fixed some problems with the Index view and pagination
	  	</li>
	  	<li>
	  		08/01/2014: Add a security model for user updates and some add friendly forwarding.  Added an admin role and delete user functionality.
	  	</li>
	  	<li>
	  		05/01/14: Finished sign out and added some Cucumer tests.  Had to precomile the asset stream
	  	</li>
		<li>
  			03/01/14: Complete user sign up	
  		</li>
	  	<li>
	  		30/12/13: On holiday now, time to plough on....
	  		<ul>
		  		<li>
		  			Added user sign up form
		  		</li>
	
	  		</ul>
	  	</li>
	  	<li>
	  		18/12/13: Finish User model and add secure passwords
	  	</li>
	  	<li>
	  		12/12/13: Started on the User model
	  	</li>
	    <li>
	    	10/12/13:
	     	<ul>
		     	<li>
		     		Added the named routes
		     	</li>
				<li>
					Refactored the test specs
				</li>
				<li>
					Added a page for users to sign up
				</li>
	     	</ul>  
	  	</li>
	    <li>
	    	04/12/13:
	        <ul>
	          <li>
	          	Use the Sprocket gem and manifest files to combine the assets and make the css sassy with Sass
	          </li>
	          <li>
	          	Replace some colours with variables
	          </li>
	       </ul>
	     </li>	  	 	  	
	    <li>
	        26/11/13: Changed both Dev and Prod to use PostgreSQL then wasted a load of time on Guard and Spork which turns out not to work on Windows ... ho hum
	  	</li>
	    <li>
	    	28/11/13: Added  Bootstrap and some custom CSS
	    </li>  
	  </ul>
	</div>